html ,body {height: 100%; background: #FFFFFF;}
html {overflow: scroll; overflow-x: hidden; overflow-x: hidden;}

::-webkit-scrollbar {width: 0px; background: transparent;}

/* optional: show position indicator in red 
::-webkit-scrollbar-thumb{background: #14C06E;}  */

/*@font-face {font-family: 'Anurati-Regular'; src: url('../fonts/anurati-regular.otf'); font-weight: normal; font-style: normal;}*/

section {}
.navbar {}


.navbar-woodapple
{
	background-color: #FFFFFF;
	border-top: 2px solid #EB2D90;
	border-radius: 0px !important;
	/*box-shadow: 0px 0px 5px #AAA;*/
	border-bottom: 1px solid #EEE;
	margin-bottom: 0px !important;
}

.navbar-woodapple .navbar-header .navbar-brand
{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.navbar-woodapple .navbar-nav > li > a
{
	color: #666666;
	font-weight: bold;
	text-rendering: all;
	letter-spacing: 1px;
}

.navbar-woodapple .navbar-nav > li > a:hover
{
	color: #EB2D90;
	background-color: #FFFFFF !important;
}

.btn
{
    border-radius: 0px !important;
    letter-spacing: 1px;
}
.btn-woodapple
{
	background: #EB2D90;
	color: #FFFFFF;
}

.btn-woodapple:hover
{
	background-color: rgba(235,45,144,0.8);
	color: #FFFFFF;
}

/* .icon-bar */

.footer
{
	min-height: 100px;
	background: #666;
	color: #CCC;
	border-top: 2px solid #EB2D90;
	z-index: -1;
}

.navbar-toggler {}
.navbar-toggler::after { border-radius: 0px;	border: none; }

input[type=search]
{
	box-shadow: 0px !important;
	outline: 0px !important;
}

#nav-search
{
	width: 200px;
	border: 1px solid #666;
	height: 35px;
	font-weight: normal;
	padding: 0px 10px !important;
	border-radius: 50px;
}

.nav-search-btn
{
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	padding-left: 50px !important;
}

.nav-search-btn > button
{
	margin-left: -35px;
	color: #EB2D90;
	border-radius: 600px;
	box-shadow: none;
	outline: 0px;
	border: 0px;
	padding: 5px 5px 5px 5px;
	background: none;
}

#carousel-home
{
	margin-top: 53px !important;
}

.carousel-inner
{
	max-height: 600px !important;
}

.testimonials
{
	min-height: 400px;
}

.testimonials-text
{
	min-height: 100px;
	color: #444;
	text-transform: bold;
	border-right: 2px solid #EEEEEE;
	padding: 5px 10px 5px 5px;
}

.counter-data
{
	/*min-height: 70px;*/
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.counter-data > div > div > table > tbody > tr > td > h1
{
	color: #EB2D90;
}

.home-slider
{
	padding-top: 63px;
}

.event-box
{
	border-top: 0px solid #EB2D90 !important;
	border-right: 0px solid #EEEEEE !important;
	border-bottom: 2px solid #EB2D90 !important;
	border-left: 0px solid #EEEEEE !important;
	margin: 3px 3px 3px 3px;
	padding: 0px 0px 0px 0px;
}

.event-box-image { }

.event-box-text
{
	border-top: 0px solid #EB2D90 !important;
	border-right: 1px solid #EEEEEE !important;
	border-bottom: 0px solid #EB2D90 !important;
	border-left: 1px solid #EEEEEE !important;
	padding: 10px 10px 10px 10px;
}
/*for teams page*/
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 60px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}

.btn:hover
{
	background-color: skyblue;
}

/*CSS for gallery Image Grid*/

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 32px;
    color: #EB2D90;
}

.image_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.image_column {
    flex: 33.33%;
    max-width: 33%;
    padding: 0 4px;
}

.image_column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media (max-width: 800px) {
    .image_column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .image_column {
        flex: 100%;
        max-width: 100%;
    }
}


/*
For 
*/

.flex-grid {
	display: flex;
  }
  .flex-grid .col {
	flex: 1;
  }
  .flex-grid-thirds {
	display: flex;
	justify-content: space-between;
  }
  .flex-grid-thirds .col {
	width: 40%;
  }

  * {
	box-sizing: border-box;
  }
  body {
	padding: 30px;
  }
  .flex-grid { 
	margin: 0 0 20px 0;
  }
  .col {
	background: salmon;
	padding: 20px;
  }
 